Source: freebayes0.9.4
Section: science
Priority: optional
Build-Depends: debhelper (>= 7), cmake, zlib1g-dev, git-core
Maintainer: Erik Garrison <erik.garrison@bc.edu>
Standards-Version: 3.8.3
Homepage: http://bioinformatics.bc.edu/marthlab/Main_Page

Package: freebayes0.9.4
Architecture: amd64
Depends: zlib1g
Description: FreeBayes is a Bayesian genetic variant detector designed to find small polymorphisms, specifically SNPs (single-nucleotide polymorphisms), indels (insertions and deletions), MNPs (multi-nucleotide polymorphisms), and complex events (composite insertion and substitution events) smaller than the length of a short-read sequencing alignment. 
